.btn {
	padding: rem(5px) rem(20px);
	font-size: rem(12px);
	cursor: pointer;
	&.btn-border {
		border-radius: $border-radius-lg;
	}
	&.btn-azki-primary {
		background-color: $color-primary;
		color: white;
		&:hover {
			background-color: darken($color-primary, 5);
		}
	}
	&.btn-azki-outline-primary {
		background-color: white;
		border-color: $color-primary;
		color: $color-primary;
		&:hover {
			background-color: darken($color-primary, 5);
			color: white;
		}
	}
	.btn-icon-parent {
		display: flex;
		align-items: center;
		img {
			&.rotate {
				transform: rotate(180deg);
			}
			width: rem(10px);
			height: rem(10px);
			margin: 0 5px;
		}
	}
}
